{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 54,
        "firefox": 50,
        "opera": 42
      },
      "exclude": [
        "transform-regenerator"
      ],
      "modules": false
    }]
  ],
  "plugins": ["transform-object-rest-spread"]
}
